
<div class="col-12 col-sm-6 col-md-4 col-lg-3 py-2">
  <div class="card card-dark">
    <% if movie.cover_image_url.present? %>
      <%= image_tag movie.cover_image_url, class: "card-img-top" %>
    <% else %>
      <%= image_tag 'default_movie_cover.png', width: 200, height: 300, class: "card-img-top" %>
    <% end %>

    <div class="card-footer btn-outline-danger d-flex justify-content-center">
      <%= link_to "Ver Pelicula", movie, class: "btn fw-bold" %>
    </div>
  </div>
</div>
