<div class="justify-content-center d-flex">

<h1>Editar Pelicula</h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to "Ver Pelicula", @movie %> |
  <%= link_to "Volver a Peliculas", movies_path %>
</div>
</div>
