<h1>Nuevo Cliente</h1>
<div class="col-lg-6">
<div class="form-control d-flex justify content-center shadow">
<%= render "form", client: @client %>

<br>

<div>
  <%= link_to "Volver a Clientes", clients_path, class:"btn btn-sm btn-secondary" %>
</div>
</div>
</div>
