<!DOCTYPE html>
<html>
<head>
  <title>BlockBuster</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap" rel="stylesheet">

  <style>
    body, html {
      margin: 0;
      padding: 0;
      background:#000;
    }

    #welcome {
      background-image: url("<%= asset_path('background_image.jpg') %>"); /* Utilizar asset_path para obtener la ruta de la imagen */
      background-size: cover;
      background-position: center;
      height: 89vh;
      width: 99vw;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      position: relative;
    }

    #welcome h1 {
      color: white;
      font-size: 5rem;
      font-family: 'Bungee Spice', cursive;
      text-transform: uppercase;
      text-shadow: 2px 2px 4px #000;
      padding-bottom: 20px;
    }
  </style>
</head>
<body>
  <div id="welcome">
    <h1>¡Bienvenido a BlockBuster!</h1>
  </div>
</body>
</html>

